[submodule "terrad"]
	path = terrad
	url = https://github.com/terra-money/core

[submodule "go-cyber"]
	path = go-cyber
	url = https://github.com/cybercongress/go-cyber

[submodule "liquidity"]
	path = liquidity
	url = https://github.com/tendermint/liquidity
